requests
pandas
pyyaml
pycryptodome
websockets
textual
python-telegram-bot[job-queue]
openpyxl
pandas-market-calendars
cryptography
pytz
gspread
google-auth
fastapi>=0.109.0
uvicorn[standard]>=0.27.0
schedule
